/* ANTHONY */

body{
    margin: 0;
    padding: 0;
    background: url(../img/erik-mclean-ZRns2R5azu0-unsplash.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.signupbox
{
    width: 320px;
    height: 620px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.icon
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.signupbox p
{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.signupbox input
{
    width: 100%;
    margin-bottom: 20px;
}

.signupbox input[type="text"], input[type="password"], input[type="email"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px   
}

.signupbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px; 
}

.signupbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.signupbox a
{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.signupbox a:hover
{
    color: #ffc107;
}